<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Machine Learning API</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% load static %}
{% load crispy_forms_tags %}
	<div class = "mx-2 my-5">
		<div class="container-fluid">
			<div class="row" style="background-color:#94baf2">
				<div class="col-sm-4">
					<img src="{% static '/images/banner2.jpg' %}" alt="Banner" style="width:500px;height:250px;"></img>
				</div>
				<div class="col-sm-4">
					<img src="{% static '/images/powpy.png' %}" alt="Powered By Python" style="width:500px;height:250px;"></img>
				</div>
				<div class="col-sm-4">
					<img src="{% static '/images/social.png' %}" alt="Social" style="width:500px;height:250px;"></img>
				</div>
			</div>
			<div class="row" style="background-color:#94baf2"><br></div>
			<div class="row" style="background-color:#bcd2f4">
				<div class="col-sm-8"></div>
				
				<div class="col-sm-4">
					<table style="border-collapse: separate; border-spacing: 15px;">
						<td><h3>Home</h3></td> 
						<td><h3>About</h3></td>
						<td><h3>Products</h3></td>
						<td><h3>Services</h3></td>
						<td><h3>Contact</h3></td>
					</table>
					
				</div>
			</div>
			<div class="row">
				<div class= "col"></div>
				<div class = "col-6 my-5">
					<h1>Small Loans Form</h1><br>
					<form method='post'>	
						{% csrf_token %}
						{{form|crispy}}
						<br>
						<button type='submit' class="btn btn-primary">Submit</button>
					</form>
					<br>
				</div>
				<div class="col">
					<div class = "mt-5">
						<h4>
						{% if messages %}
						<ul class="messages">
					    {% for message in messages %}
					    <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> 
					    {{ message }} </div>
					    {% endfor %}
						</ul>
						{% endif %}
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	

	
</body>
</html>